body, h1, h2, h3, h4, p, a{
font-family: 'Cairo', sans-serif;
}
.nav-color{
background-color: #0658aa;
color: #FFF;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link{
color: #FFF;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link:hover{
color: goldenrod;
}
.navbar-light .navbar-nav .nav-link{
color: #FFF;
}
.navbar-light .navbar-nav .nav-link:hover{
color: goldenrod;
}
.nave-menu{
margin: auto;
}
.navbar-light .navbar-brand{
color: #FFF;
}
.navbar-light .navbar-brand:hover{
color: yellow;
}
.login{
margin-right: 2rem;
}
.header{
background: url('../images/bg.jpg') no-repeat center center fixed;
background-size: cover ;
height: 570px;


}
.search{
text-align: center;
padding-top: 5rem;
padding-bottom: 3rem;
}
.head-title{
color: #FFF;
font-size: 20px;
text-align: center;
}
.head-p{
color: #FFF;
text-align: center;
}
.advanced {
text-decoration: none;
font-size: 15px;
font-weight: 500
}

.btn-secondary,
.btn-secondary:focus,
.btn-secondary:active {
color: #fff;
background-color: #00838f !important;
border-color: #00838f !important;
box-shadow: none
}

.advanced {
color: #00eaff !important
}

.form-control:focus {
box-shadow: none;
border: 1px solid #00838f
}
.card{
position: relative;
display: flex;
flex-direction: column;
min-width: 0;
word-wrap: break-word;
background-color: #0000009c;
background-clip: border-box;
border: 1px solid rgba(0,0,0,.125);
border-radius: 0.25rem;
color: #FFF;
}
.vip-slider{
background-color: #00838f;
color: #FFFFFF;
border-radius: 1rem;
}
.category{
margin-top: 2rem;
}
.block-title{
text-align: center;
margin-bottom: 2rem;
margin-top: 2rem;
}
.cat-img{
width: 100%;
height: 100%;
}
.cat-card{
background-color: #00838f;
color: #FFF;
padding:0px;
}
.cat-number{
color: gold;
}
.cat-span{
font-size: 18px;
font-weight: bold;
color: #FFF;
}
.company-card{
background-color: #FFF;
border: 1px solid #00838f;
}
.view-all{
margin-right: 1rem;
display: inline;
}
.view-span{
font-weight: bolder;
color: #00838f;
font-size: 18px;
}
.card-icon{
display: inline;
}
.card-adress{
display: inline;
}
.adress-span{
font-size: 12px;
}
.card-clicktocall{
margin-top: 1rem;
text-align: center;
}
.card-phone{
text-decoration: none;
color: #00838f;
}
.card-phone:hover{
text-decoration: none;
color: #FFF;
}
.card-button{
flex: 1 1 auto;
padding: 1rem 1rem;
text-align: center;
}
.company-all{
margin-bottom: 2rem;
}
/*Start Footer*/
.footer {
position: relative;
padding-top: 45px;
background: #121518;
}

.footer .footer-about,
.footer .footer-contact,
.footer .footer-links,
.footer .footer-project {
position: relative;
margin-bottom: 45px;
color: #999999;
}

.footer .footer-about h3,
.footer .footer-contact h3,
.footer .footer-links h3,
.footer .footer-project h3 {
position: relative;
margin-bottom: 20px;
padding-bottom: 10px;
font-size: 20px;
font-weight: 600;
color: #eeeeee;
}

.footer .footer-about h3::after,
.footer .footer-contact h3::after,
.footer .footer-links h3::after,
.footer .footer-project h3::after {
position: absolute;
content: "";
width: 50px;
height: 2px;
left: 0;
bottom: 0;
background: #eeeeee;
}

.footer .footer-social {
position: relative;
margin-top: 20px;
}

.footer .footer-social a {
text-align: center;
color: #00838f;
font-size: 14px;
border: 1px solid #00838f;
display: inline-block;
width: 35px;
height: 35px;
padding: 6px 0;
border-radius: 35px;
}


.footer .footer-social a:hover {
color: #ffffff;
background: #00838f;
border-color: #00838f;
}
.footer .footer-contact p {
margin-bottom: 10px;
font-size: 16px;
color: #999999;
}

.footer .footer-contact i {
margin-right: 10px;
font-size: 16px;
color: #00838f;
}

.footer .footer-contact a:last-child i {
margin: 0;
}

.footer .footer-contact a:hover i {
color: #00838f;
}
.footer .footer-links a {
margin-bottom: 6px;
padding-left: 15px;
color: #999999;
text-decoration: none;
display: block;
}

.footer .footer-links a:last-child {
margin: 0;
}

.footer .footer-links a:hover {
color: #00838f;
text-decoration: none;
}

.footer .footer-links a::before {
position: absolute;
font-family: "Font Awesome 5 Free";
font-weight: 900;
left: 0;
}
.footer .footer-project {
float: left;
font-size: 0;
}

.footer .footer-project a {
padding: 0 8px 8px 0;
display: block;
width: 33.33%;
float: left;
}

.footer .footer-project a img {
width: 100%;
}
.footer .footer-newsletter {
text-align: center;
color: #999999;
margin-bottom: 35px;
max-width: 700px;
}

.footer .footer-newsletter input {
background: rgba(256, 256, 256, .15);
margin-bottom: 15px;
height: 35px;
border: none;
border-radius: 5px;
}

.footer .footer-newsletter .btn {
font-weight: 400;
text-transform: uppercase;
color: #ffffff;
background: #00838f;
border-radius: 5px;
display: block;
width: 100%;
height: 35px;
font-size: 14px;
border: none;
transition: .3s;
}

.footer .footer-newsletter .btn:hover {
color: #00838f;
background: #ffffff;
}

.footer .footer-newsletter .btn:focus {
box-shadow: none;
}
.footer .copyright {
position: relative;
padding: 25px 0;
background: #000000;
}

.footer .copyright .copy-text p {
margin: 0;
font-size: 16px;
font-weight: 400;
color: #999999;
}

.footer .copyright .copy-text p a {
color: #00838f;
text-decoration: none;
}

.footer .copyright .copy-text p a:hover {
color: #FFF;
}
.footer .copyright .copy-menu {
position: relative;
font-size: 0;
text-align: right;
}

.footer .copyright .copy-menu a {
margin-right: 15px;
padding-right: 15px;
border-right: 1px solid rgba(255, 255, 255, .3);
color: #999999;
font-size: 16px;
font-weight: 400;
text-decoration: none;
}

.footer .copyright .copy-menu a:hover {
color: #00838f;
}

.footer .copyright .copy-menu a:last-child {
margin-right: 0;
padding-right: 0;
border-right: none;
}

@media (max-width: 767.98px) {
.footer .copyright .copy-text,
.footer .copyright .copy-menu {
    text-align: center;
}

.footer .copyright .copy-text p {
    margin-bottom: 5px;
}

}
/*company page*/

.company-img{
width: 200px;
height: 200px;
border-radius: 10px;
}
.company-ro{
margin-top: 2rem;
}
.company-category{
color: #00838f;
text-decoration: none;
}
.company-category:hover{
color: #333;
text-decoration: none;
}
.call_to_action{
margin-top: 1rem;
}
.phone_number{
text-decoration: none;
color: #00838f;
font-size: 20px;
}
.phone_number:hover{
text-decoration: none;
color: #333;
font-size: 20px;
}
.input-group:not(.has-validation)>.dropdown-toggle:nth-last-child(n+3), .input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu){
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
background: #00838f;
color: #FFF;
}
.table-striped>tbody>tr:nth-of-type(odd)>*{
--bs-table-accent-bg: #00838f;
color: #FFF;
}
.vip-data{
margin-top: 2rem;
}
.page-title{
background-color: #00838f;
color: #FFF;
padding-bottom: 2rem;
text-align: center;
}
.title-h{
padding-top: 2rem;
}
.category-table{
margin-top: 2rem;
}
/*Start Login*/
.login-bg{
background-color: #00838f;
padding-top: 1.75rem;
}
.card-box{
position: relative;
display: flex;
flex-direction: column;
min-width: 0;
word-wrap: break-word;
background-color: #0000009c;
background-clip: border-box;
border: 1px solid rgba(0,0,0,.125);
border-radius: 1rem !important;
color: #FFF;

}
.img-login{
max-width: 100%;
height: 100%;
border-radius: 0px 1rem 1rem 0rem;
}
.login-logo{
color: goldenrod;
}
.login-text{
text-decoration: none;
color: goldenrod;
}
.login-text:hover{
text-decoration: none;
color: #FFF;
}
.box{
z-index: 99999;
}
.add-company{
margin-bottom: 2rem;
}
.add-form{
margin-bottom: 1rem;
}
/*Side Bar*/
.bd-placeholder-img {
font-size: 1.125rem;
text-anchor: middle;
-webkit-user-select: none;
-moz-user-select: none;
user-select: none;
}

@media (min-width: 768px) {
.bd-placeholder-img-lg {
font-size: 3.5rem;
}
}

@media (max-width: 991.98px) {
.offcanvas-collapse {
position: fixed;
top: 56px; /* Height of navbar */
bottom: 0;
left: 100%;
width: 100%;
padding-right: 1rem;
padding-left: 1rem;
overflow-y: auto;
visibility: hidden;
background-color: #343a40;
transition: transform .3s ease-in-out, visibility .3s ease-in-out;
}
.offcanvas-collapse.open {
visibility: visible;
transform: translateX(-100%);
}
}
.nav-scroller {
position: relative;
z-index: 2;
height: 2.75rem;
overflow-y: hidden;
}
.nav-scroller .nav {
display: flex;
flex-wrap: nowrap;
padding-bottom: 1rem;
margin-top: -1px;
overflow-x: auto;
color: rgba(255, 255, 255, .75);
text-align: center;
white-space: nowrap;
-webkit-overflow-scrolling: touch;
}
.nav-underline .nav-link {
padding-top: .75rem;
padding-bottom: .75rem;
font-size: .875rem;
color: #6c757d;
}

.nav-underline .nav-link:hover {
color: goldenrod;
}

.nav-underline .active {
font-weight: 500;
color: goldenrod;
}

.bg-purple {
background-color: #6f42c1;
}
.add-company-dash{
margin-top: 2rem;
margin-bottom: 2rem;
}
.meet-card{
background-color: #fff;
color: #333;
padding:0px;
border: 1px solid #00838f;
}
.meeting{
margin-top: 2rem;
margin-bottom: 2rem;
}
.package1{
position: relative;
display: flex;
flex-direction: column;
min-width: 0;
word-wrap: break-word;
background-color: #00838f;
background-clip: border-box;
border: 1px solid rgba(0,0,0,.125);
border-radius: 0.25rem;
color: #FFF;

}
.pack-gold{
background: #00838f;
}
.dash-main{
margin-top: 2rem;
margin-bottom: 2rem;
}
.card-text-dash{
font-size: 14px;
}
.card-color{
background-color: #00838f !important;
}
/*star */

.rating {
font-size: 0;
}
.rating:after {
content: " ";
clear: both;
display: block;
}

.rating input {
display: none;
}
.rating-label {
height: 16px;
width: 16px;
color: #00838f;
font-size: 24px;
line-height: 16px;
margin-right: 4px;
text-align: center;
display: inline-block;
}

.rating[dir=rtl] {
unicode-bidi: bidi-override;
}
.rating[dir=rtl] > input:checked ~ .rating-label {
font-size: 0;
}
.rating[dir=rtl] > input:checked ~ .rating-label:before {
content: "★";
color: #00838f;
}

.rating-label.is-active {
color: #00838f;
}

.rating-large .rating-label {
height: 24px;
width: 24px;
font-size: 32px;
margin-right: 8px;
}
.rating-large .rating-label:before {
font-size: 32px;
}
.rating-small .rating-label {
height: 12px;
width: 12px;
font-size: 16px;
margin-right: 2px;
}
.rating-small .rating-label:before {
font-size: 16px;
}
.rating {
margin: 15px auto;
}
.rate{
margin-bottom: 2rem;
}
.comment{
margin-bottom: 1rem;
}
/**/
.noti{
color: #FFF;
margin-left: 2rem;
margin-top: 1rem;
}
.dropdown-menu{
position: absolute;
z-index: 1000;
display: none;
min-width: 21rem;
padding: 0.5rem 0;
margin: 0;
font-size: 14px;
color: #fefeff;
text-align: center;
list-style: none;
background-color: #00838f;
background-clip: padding-box;
border: 1px solid rgba(0,0,0,.15);
border-radius: 0.25rem;
border-bottom: 4px solid goldenrod;
margin-top: .5rem !important;
}
.noti-li{
margin-bottom: 1rem;

}
.li-bord{
margin-top: 5px;
text-decoration: none;
color: #FFF;
border-bottom: 1px dashed #FFF !important;
cursor: pointer;
}
.li-bord:hover{
margin-top: 5px;
text-decoration: none;
color: #333;
border-bottom: 1px solid #FFF;
}
.mycompany{
margin-top: 2rem;
margin-bottom: 2rem;
}
.com-icon{
border: 1px #00838f solid;
border-radius: 1rem;
margin: 1rem;
}
.com-icon:hover{
border: 1px goldenrod solid;
border-radius: 1rem;
margin: 1rem;
}
.c-icon{
color: #00838f;
text-decoration: none;
}
.c-icon:hover{
color: goldenrod;
text-decoration: none;

}
/* Module Tabs*/


a {
color: #f96332;
}

a:hover,
a:focus {
color: #f96332;
}

p {
line-height: 1.61em;
font-weight: 300;
font-size: 1.2em;
}

.category {
text-transform: capitalize;
font-weight: 700;
color: #9A9A9A;
}

body {
color: #2c2c2c;
font-size: 14px;
overflow-x: hidden;
-moz-osx-font-smoothing: grayscale;
-webkit-font-smoothing: antialiased;
}

.nav-item .nav-link,
.nav-tabs .nav-link {
-webkit-transition: all 300ms ease 0s;
-moz-transition: all 300ms ease 0s;
-o-transition: all 300ms ease 0s;
-ms-transition: all 300ms ease 0s;
transition: all 300ms ease 0s;
}

.card-tab a {
-webkit-transition: all 150ms ease 0s;
-moz-transition: all 150ms ease 0s;
-o-transition: all 150ms ease 0s;
-ms-transition: all 150ms ease 0s;
transition: all 150ms ease 0s;
}

[data-toggle="collapse"][data-parent="#accordion"] i {
-webkit-transition: transform 150ms ease 0s;
-moz-transition: transform 150ms ease 0s;
-o-transition: transform 150ms ease 0s;
-ms-transition: all 150ms ease 0s;
transition: transform 150ms ease 0s;
}

[data-toggle="collapse"][data-parent="#accordion"][aria-expanded="true"] i {
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
-webkit-transform: rotate(180deg);
-ms-transform: rotate(180deg);
transform: rotate(180deg);
}


.now-ui-icons {
display: inline-block;
font: normal normal normal 14px/1 'Nucleo Outline';
font-size: inherit;
text-transform: none;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

@-webkit-keyframes nc-icon-spin {
0% {
    -webkit-transform: rotate(0deg);
}

100% {
    -webkit-transform: rotate(360deg);
}
}

@-moz-keyframes nc-icon-spin {
0% {
    -moz-transform: rotate(0deg);
}

100% {
    -moz-transform: rotate(360deg);
}
}

@keyframes nc-icon-spin {
0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}

100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}
}

.now-ui-icons.objects_umbrella-13:before {
content: "\ea5f";
}

.now-ui-icons.shopping_cart-simple:before {
content: "\ea1d";
}

.now-ui-icons.shopping_shop:before {
content: "\ea50";
}

.now-ui-icons.ui-2_settings-90:before {
content: "\ea4b";
}

.nav-tabs {
border: 0;
padding: 15px 0.7rem;
}

.nav-tabs:not(.nav-tabs-neutral)>.nav-item>.nav-link.active {
box-shadow: 0px 5px 35px 0px rgba(0, 0, 0, 0.3);
}

.card-tab .nav-tabs {
border-top-right-radius: 0.1875rem;
border-top-left-radius: 0.1875rem;
}

.nav-tabs>.nav-item>.nav-link {
color: #888888;
margin: 0;
margin-right: 5px;
background-color: transparent;
border: 1px solid transparent;
border-radius: 30px;
font-size: 14px;
line-height: 1.5;
}

.nav-tabs>.nav-item>.nav-link:hover {
background-color: transparent;
}

.nav-tabs>.nav-item>.nav-link.active {
background-color: #444;
border-radius: 30px;
color: #FFFFFF;
}

.nav-tabs>.nav-item>.nav-link i.now-ui-icons {
font-size: 14px;
position: relative;
top: 1px;
margin-right: 3px;
}

.nav-tabs.nav-tabs-neutral>.nav-item>.nav-link {
color: #FFFFFF;
}

.nav-tabs.nav-tabs-neutral>.nav-item>.nav-link.active {
background-color: rgba(255, 255, 255, 0.2);
color: #FFFFFF;
}

.card-tab {
border: 0;
border-radius: 0.1875rem;
display: inline-block;
position: relative;
width: 100%;
margin-bottom: 30px;
box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
}

.card-tab .card-header {
background-color: transparent;
border-bottom: 0;
background-color: transparent;
border-radius: 0;
padding: 0;
}

.card-tab[data-background-color="orange"] {
background-color: #f96332;
}

.card-tab[data-background-color="red"] {
background-color: #FF3636;
}

.card-tab[data-background-color="yellow"] {
background-color: #FFB236;
}

.card-tab[data-background-color="blue"] {
background-color: #2CA8FF;
}

.card-tab[data-background-color="green"] {
background-color: #25D366;
}

[data-background-color="orange"] {
background-color: #e95e38;
}

[data-background-color="black"] {
background-color: #2c2c2c;
}

[data-background-color]:not([data-background-color="gray"]) {
color: #FFFFFF;
}

[data-background-color]:not([data-background-color="gray"]) p {
color: #FFFFFF;
}

[data-background-color]:not([data-background-color="gray"]) a:not(.btn):not(.dropdown-item) {
color: #FFFFFF;
}

[data-background-color]:not([data-background-color="gray"]) .nav-tabs>.nav-item>.nav-link i.now-ui-icons {
color: #FFFFFF;
}


.now-ui-icons {
display: inline-block;
font: normal normal normal 14px/1 'Nucleo Outline';
font-size: inherit;
text-transform: none;
/* Better Font Rendering */
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
@media screen and (max-width: 768px) {

.nav-tabs {
    display: inline-block;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
}

.nav-tabs .nav-item>.nav-link {
    margin-bottom: 5px;
}
}
/*image gallery*/
.portfolio-menu{
text-align:center;
}
.portfolio-menu ul li{
display:inline-block;
margin:0;
list-style:none;
padding:10px 15px;
cursor:pointer;
-webkit-transition:all 05s ease;
-moz-transition:all 05s ease;
-ms-transition:all 05s ease;
-o-transition:all 05s ease;
transition:all .5s ease;
}
.portfolio-item .item{
/*width:303px;*/
float:left;
margin-bottom:10px;
}
.inbox{
margin-top: 2rem;
margin-bottom: 2rem;
}
.card-inbox {
position: relative;
display: flex;
flex-direction: column;
min-width: 0;
word-wrap: break-word;
background-color: #fff;
background-clip: border-box;
border: 0 solid transparent;
border-radius: 0;
}
.mailbox-widget .custom-tab .nav-item .nav-link {
border: 0;
color: #fff;
border-bottom: 3px solid transparent;
}
.mailbox-widget .custom-tab .nav-item .nav-link.active {
background: 0 0;
color: #fff;
border-bottom: 3px solid #2cd07e;
}
.no-wrap td, .no-wrap th {
white-space: nowrap;
}
.table td, .table th {
padding: .9375rem .4rem;
vertical-align: top;
border-top: 1px solid rgba(120,130,140,.13);
}
.font-light {
font-weight: 300;
}
/*msg*/
.email-app {
display: flex;
flex-direction: row;
background: #fff;
border: 1px solid #e1e6ef;
}

.email-app nav {
flex: 0 0 200px;
padding: 1rem;
border-right: 1px solid #e1e6ef;
}

.email-app nav .btn-block {
margin-bottom: 15px;
}

.email-app nav .nav {
flex-direction: column;
}

.email-app nav .nav .nav-item {
position: relative;
}

.email-app nav .nav .nav-item .nav-link,
.email-app nav .nav .nav-item .navbar .dropdown-toggle,
.navbar .email-app nav .nav .nav-item .dropdown-toggle {
color: #151b1e;
border-bottom: 1px solid #e1e6ef;
}

.email-app nav .nav .nav-item .nav-link i,
.email-app nav .nav .nav-item .navbar .dropdown-toggle i,
.navbar .email-app nav .nav .nav-item .dropdown-toggle i {
width: 20px;
margin: 0 10px 0 0;
font-size: 14px;
text-align: center;
}

.email-app nav .nav .nav-item .nav-link .badge,
.email-app nav .nav .nav-item .navbar .dropdown-toggle .badge,
.navbar .email-app nav .nav .nav-item .dropdown-toggle .badge {
float: right;
margin-top: 4px;
margin-left: 10px;
}

.email-app main {
min-width: 0;
flex: 1;
padding: 1rem;
}

.email-app .inbox .toolbar {
padding-bottom: 1rem;
border-bottom: 1px solid #e1e6ef;
}

.email-app .inbox .messages {
padding: 0;
list-style: none;
}

.email-app .inbox .message {
position: relative;
padding: 1rem 1rem 1rem 2rem;
cursor: pointer;
border-bottom: 1px solid #e1e6ef;
}

.email-app .inbox .message:hover {
background: #f9f9fa;
}

.email-app .inbox .message .actions {
position: absolute;
left: 0;
display: flex;
flex-direction: column;
}

.email-app .inbox .message .actions .action {
width: 2rem;
margin-bottom: 0.5rem;
color: #c0cadd;
text-align: center;
}

.email-app .inbox .message a {
color: #000;
}

.email-app .inbox .message a:hover {
text-decoration: none;
}

.email-app .inbox .message.unread .header-1,
.email-app .inbox .message.unread .title {
font-weight: bold;
}

.email-app .inbox .message .header-1 {
display: flex;
flex-direction: row;
margin-bottom: 0.5rem;
}

.email-app .inbox .message .header-1 .date {
margin-right: auto;
}

.email-app .inbox .message .title {
margin-bottom: 0.5rem;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}

.email-app .inbox .message .description {
font-size: 12px;
}

.email-app .message .toolbar {
padding-bottom: 1rem;
border-bottom: 1px solid #e1e6ef;
}

.email-app .message .details .title {
padding: 1rem 0;
font-weight: bold;
}

.email-app .message .details .header-1 {
display: flex;
padding: 1rem 0;
margin: 1rem 0;
border-top: 1px solid #e1e6ef;
border-bottom: 1px solid #e1e6ef;
}

.email-app .message .details .header-1 .avatar {
width: 40px;
height: 40px;
margin-left: 1rem;
border-radius: 30px;
}

.email-app .message .details .header-1 .from {
font-size: 12px;
color: #9faecb;
align-self: center;
}

.email-app .message .details .header-1 .from span {
display: block;
font-weight: bold;
}

.email-app .message .details .header-1 .date {
margin-right: auto;
}

.email-app .message .details .attachments {
padding: 1rem 0;
margin-bottom: 1rem;
border-top: 3px solid #f9f9fa;
border-bottom: 3px solid #f9f9fa;
}

.email-app .message .details .attachments .attachment {
display: flex;
margin: 0.5rem 0;
font-size: 12px;
align-self: center;
}

.email-app .message .details .attachments .attachment .badge {
margin: 0 0.5rem;
line-height: inherit;
}

.email-app .message .details .attachments .attachment .menu {
margin-left: auto;
}

.email-app .message .details .attachments .attachment .menu a {
padding: 0 0.5rem;
font-size: 14px;
color: #e1e6ef;
}

@media (max-width: 767px) {
.email-app {
    flex-direction: column;
}
.email-app nav {
    flex: 0 0 100%;
}
}

@media (max-width: 575px) {
.email-app .message .header-1 {
    flex-flow: row wrap;
}
.email-app .message .header-1 .date {
    flex: 100% 0 0%;
}
}
.attach{
text-decoration: none;
color: #00838f;

}
.replay{
margin-top: 1rem;
}
/*New MSG*/
.inbox .inbox-menu ul {
margin-top: 30px;
padding: 0;
list-style: none
}

.inbox .inbox-menu ul li {
height: 30px;
padding: 5px 15px;
position: relative
}

.inbox .inbox-menu ul li:hover,
.inbox .inbox-menu ul li.active {
background: #e4e5e6
}

.inbox .inbox-menu ul li.title {
margin: 20px 0 -5px 0;
text-transform: uppercase;
font-size: 10px;
color: #d1d4d7
}

.inbox .inbox-menu ul li.title:hover {
background: 0 0
}

.inbox .inbox-menu ul li a {
display: block;
width: 100%;
text-decoration: none;
color: #3d3f42
}

.inbox .inbox-menu ul li a i {
margin-right: 10px
}

.inbox .inbox-menu ul li a .label {
position: absolute;
top: 10px;
right: 15px;
display: block;
min-width: 14px;
height: 14px;
padding: 2px
}

.inbox ul.messages-list {
list-style: none;
margin: 15px -15px 0 -15px;
padding: 15px 15px 0 15px;
border-top: 1px solid #d1d4d7
}

.inbox ul.messages-list li {
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
cursor: pointer;
margin-bottom: 10px;
padding: 10px
}

.inbox ul.messages-list li a {
color: #3d3f42
}

.inbox ul.messages-list li a:hover {
text-decoration: none
}

.inbox ul.messages-list li.unread .header,
.inbox ul.messages-list li.unread .title {
font-weight: 700
}

.inbox ul.messages-list li:hover {
background: #e4e5e6;
border: 1px solid #d1d4d7;
padding: 9px
}

.inbox ul.messages-list li:hover .action {
color: #d1d4d7
}

.inbox ul.messages-list li .header {
margin: 0 0 5px 0
}

.inbox ul.messages-list li .header .from {
width: 49.9%;
white-space: nowrap;
overflow: hidden!important;
text-overflow: ellipsis
}

.inbox ul.messages-list li .header .date {
width: 50%;
text-align: right;
float: right
}

.inbox ul.messages-list li .title {
margin: 0 0 5px 0;
white-space: nowrap;
overflow: hidden!important;
text-overflow: ellipsis
}

.inbox ul.messages-list li .description {
font-size: 12px;
padding-left: 29px
}

.inbox ul.messages-list li .action {
display: inline-block;
width: 16px;
text-align: center;
margin-right: 10px;
color: #d1d4d7
}

.inbox ul.messages-list li .action .fa-check-square-o {
margin: 0 -1px 0 1px
}

.inbox ul.messages-list li .action .fa-square {
float: left;
margin-top: -16px;
margin-left: 4px;
font-size: 11px;
color: #fff
}

.inbox ul.messages-list li .action .fa-star.bg {
float: left;
margin-top: -16px;
margin-left: 3px;
font-size: 12px;
color: #fff
}

.inbox .message .message-title {
margin-top: 30px;
padding-top: 10px;
font-weight: 700;
font-size: 14px
}

.inbox .message .header {
margin: 20px 0 30px 0;
padding: 10px 0 10px 0;
border-top: 1px solid #d1d4d7;
border-bottom: 1px solid #d1d4d7
}

.inbox .message .header .avatar {
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
height: 34px;
width: 34px;
float: left;
margin-right: 10px
}

.inbox .message .header i {
margin-top: 1px
}

.inbox .message .header .from {
display: inline-block;
width: 50%;
font-size: 12px;
margin-top: -2px;
color: #d1d4d7
}

.inbox .message .header .from span {
display: block;
font-size: 14px;
font-weight: 700;
color: #3d3f42
}

.inbox .message .header .date {
display: inline-block;
width: 29%;
text-align: right;
font-size: 12px;
margin-top: 18px
}

.inbox .message .attachments {
border-top: 3px solid #e4e5e6;
border-bottom: 3px solid #e4e5e6;
padding: 10px 0;
margin-bottom: 20px;
font-size: 12px;
}

.inbox .message .attachments ul {
list-style: none;
margin: 0 0 0 -40px;
}

.inbox .message .attachments ul li {
margin: 10px 0;
}

.inbox .message .attachments ul li .label {
padding: 2px 4px;
}

.inbox .message .attachments ul li span.quickMenu {
float: right;
text-align: right;
}

.inbox .message .attachments ul li span.quickMenu .fa {
padding: 5px 0 5px 25px;
font-size: 14px;
margin: -2px 0 0 5px;
color: #d1d4d7;
}
.msg-field{
margin-top: 1rem;
margin-bottom: 1rem;
}
/**/

.file-drop-area {
position: relative;
display: flex;
align-items: center;
width: 450px;
max-width: 100%;
padding: 25px;
border: 1px dashed #00838f;
border-radius: 3px;
transition: 0.2s
}

.choose-file-button {
flex-shrink: 0;
background-color: #00838f;
border: 1px solid #FFF;
border-radius: 10px;
padding: 8px 15px;
margin-left: 10px;
font-size: 12px;
text-transform: uppercase
}

.file-message {
font-size: small;
font-weight: 300;
line-height: 1.4;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis
}

.file-input {
position: absolute;
left: 0;
top: 0;
height: 100%;
width: 100%;
cursor: pointer;
opacity: 0
}
.image-gallery{
margin-top: 2rem;
margin-bottom: 1rem;
}
.but{
margin-top: 1rem;
margin-bottom: 1rem;
}
.ads-button
{
margin: 2px;
}
/* creat ads */
.card-ads {
border: none;
background-color: #1c1e21;
color: #fff
}

.form-input {
position: relative;
margin-bottom: 10px;
margin-top: 10px
}

.form-input i {
position: absolute;
font-size: 18px;
top: 15px;
left: 10px
}

.form-control {
text-indent: 24px;
font-size: 15px;
color: #333;

}

.form-control:focus {
box-shadow: none;
color: #333;
border-color: #fff
}
.signup {
height: 50px;
font-size: 14px
}
/*select*/
.ms-drop input[type="radio"], .ms-drop input[type="checkbox"]
{
position: inherit !important;
margin-top: 0.3rem;
margin-left: 0.5rem !important;
}
.form-control{
display: block;
width: 100%;
padding: .40rem !important;
font-weight: 400;
line-height: 1.5;
background-color: #fff;
background-clip: padding-box;
border: 1px solid #ced4da;
-moz-appearance: none;
appearance: none;
border-radius: 0.25rem;
transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.ms-choice>span
{
position: absolute;
top: 5px;
left: 20px;
right: 20px;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
display: block;
}
.ms-choice>div.icon-caret
{
position: absolute;
width: 0;
height: 0;
top: 50%;
right: 1rem;
margin-top: -2px;
border-color: #00838f transparent transparent transparent;
border-style: solid;
border-width: 5px 4px 0 4px;
}
.ms-drop.bottom
{
top: 109%;
box-shadow: 0 4px 5px rgb(0 0 0 / 15%);
background: #00838f;
color: #FFF;
left: 0rem;
border: 6px solid #FFF;
}
.ms-drop{
width: auto;
min-width: 100%;
overflow: hidden;
display: none;
z-index: 1000;
border: 1px solid #aaa;
border-radius: 4px;
}
.ms-choice{
display: block;
width: 100%;
height: 34px;
padding: 0;
overflow: hidden;
border: 1px solid #aaa;
text-align: center;
white-space: nowrap;
line-height: 26px;
color: #000;
text-decoration: none;
}
.ms-drop ul>li label{
    position: relative;
    padding-left: 1.25rem;
    margin-bottom: 0;
    font-weight: normal;
    display: block;
    white-space: nowrap;
    cursor: pointer;
}
.ms-drop ul>li label:hover{
    position: relative;
    padding-left: 1.25rem;
    margin-bottom: 0;
    font-weight: normal;
    display: block;
    white-space: nowrap;
    cursor: pointer;
    background-color: #FFF;
    color: #000;
}
/*Blog*/
@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");
/* This pen */
a,
a:hover {
text-decoration: none;
transition: color 0.3s ease-in-out;
}

#pageHeaderTitle {
margin: 2rem 0;
text-transform: uppercase;
text-align: center;
font-size: 2.5rem;
}

/* Cards */
.postcard {
flex-wrap: wrap;
display: flex;
box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
border-radius: 10px;
margin: 0 0 2rem 0;
overflow: hidden;
position: relative;
color: #ffffff;
}
.postcard.dark {
background-color: #18151f;
}
.postcard.light {
background-color: #e1e5ea;
}
.postcard .t-dark {
color: #18151f;
}
.postcard a {
color: inherit;
}
.postcard h1,
.postcard .h1 {
margin-bottom: 0.5rem;
font-weight: 500;
line-height: 1.2;
}
.postcard .small {
font-size: 80%;
}
.postcard .postcard__title {
font-size: 1.75rem;
}
.postcard .postcard__img {
max-height: 180px;
width: 100%;
object-fit: cover;
position: relative;
}
.postcard .postcard__img_link {
display: contents;
}
.postcard .postcard__bar {
width: 50px;
height: 10px;
margin: 10px 0;
border-radius: 5px;
background-color: #424242;
transition: width 0.2s ease;
}
.postcard .postcard__text {
padding: 1.5rem;
position: relative;
display: flex;
flex-direction: column;
}
.postcard .postcard__preview-txt {
overflow: hidden;
text-overflow: ellipsis;
text-align: justify;
height: 100%;
}
.postcard .postcard__tagbox {
display: flex;
flex-flow: row wrap;
font-size: 14px;
margin: 20px 0 0 0;
padding: 0;
justify-content: center;
}
.postcard .postcard__tagbox .tag__item {
display: inline-block;
background: rgba(83, 83, 83, 0.4);
border-radius: 3px;
padding: 2.5px 10px;
margin: 0 5px 5px 0;
cursor: default;
user-select: none;
transition: background-color 0.3s;
}
.postcard .postcard__tagbox .tag__item:hover {
background: rgba(83, 83, 83, 0.8);
}
.postcard:before {
content: "";
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
background-image: linear-gradient(-70deg, #424242, transparent 50%);
opacity: 1;
border-radius: 10px;
}
.postcard:hover .postcard__bar {
width: 100px;
}

@media screen and (min-width: 769px) {
.postcard {
flex-wrap: inherit;
}
.postcard .postcard__title {
font-size: 2rem;
}
.postcard .postcard__tagbox {
justify-content: start;
}
.postcard .postcard__img {
max-width: 300px;
max-height: 100%;
transition: transform 0.3s ease;
}
.postcard .postcard__text {
padding: 3rem;
width: 100%;
}
.postcard .media.postcard__text:before {
content: "";
position: absolute;
display: block;
background: #18151f;
top: -20%;
height: 130%;
width: 55px;
}
.postcard:hover .postcard__img {
transform: scale(1.1);
}
.postcard:nth-child(2n+1) {
flex-direction: row;
}
.postcard:nth-child(2n+0) {
flex-direction: row-reverse;
}
.postcard:nth-child(2n+1) .postcard__text::before {
left: -12px !important;
transform: rotate(4deg);
}
.postcard:nth-child(2n+0) .postcard__text::before {
right: -12px !important;
transform: rotate(-4deg);
}
}
@media screen and (min-width: 1024px) {
.postcard__text {
padding: 2rem 3.5rem;
}

.postcard__text:before {
content: "";
position: absolute;
display: block;
top: -20%;
height: 130%;
width: 55px;
}

.postcard.dark .postcard__text:before {
background: #18151f;
}

.postcard.light .postcard__text:before {
background: #e1e5ea;
}
}
/* COLORS */
.postcard .postcard__tagbox .green.play:hover {
background: #25D366;
color: black;
}

.green .postcard__title:hover {
color: #25D366;
}

.green .postcard__bar {
background-color: #25D366;
}

.green::before {
background-image: linear-gradient(-30deg, rgba(121, 221, 9, 0.1), transparent 50%);
}

.green:nth-child(2n)::before {
background-image: linear-gradient(30deg, rgba(121, 221, 9, 0.1), transparent 50%);
}

.postcard .postcard__tagbox .blue.play:hover {
background: #0076bd;
}

.blue .postcard__title:hover {
color: #0076bd;
}

.blue .postcard__bar {
background-color: #0076bd;
}

.blue::before {
background-image: linear-gradient(-30deg, rgba(0, 118, 189, 0.1), transparent 50%);
}

.blue:nth-child(2n)::before {
background-image: linear-gradient(30deg, rgba(0, 118, 189, 0.1), transparent 50%);
}

.postcard .postcard__tagbox .red.play:hover {
background: #bd150b;
}

.red .postcard__title:hover {
color: #bd150b;
}

.red .postcard__bar {
background-color: #bd150b;
}

.red::before {
background-image: linear-gradient(-30deg, rgba(189, 21, 11, 0.1), transparent 50%);
}

.red:nth-child(2n)::before {
background-image: linear-gradient(30deg, rgba(189, 21, 11, 0.1), transparent 50%);
}

.postcard .postcard__tagbox .yellow.play:hover {
background: #bdbb49;
color: black;
}

.yellow .postcard__title:hover {
color: #bdbb49;
}

.yellow .postcard__bar {
background-color: #bdbb49;
}

.yellow::before {
background-image: linear-gradient(-30deg, rgba(189, 187, 73, 0.1), transparent 50%);
}

.yellow:nth-child(2n)::before {
background-image: linear-gradient(30deg, rgba(189, 187, 73, 0.1), transparent 50%);
}

@media screen and (min-width: 769px) {
.green::before {
background-image: linear-gradient(-80deg, rgba(121, 221, 9, 0.1), transparent 50%);
}

.green:nth-child(2n)::before {
background-image: linear-gradient(80deg, rgba(121, 221, 9, 0.1), transparent 50%);
}

.blue::before {
background-image: linear-gradient(-80deg, rgba(0, 118, 189, 0.1), transparent 50%);
}

.blue:nth-child(2n)::before {
background-image: linear-gradient(80deg, rgba(0, 118, 189, 0.1), transparent 50%);
}

.red::before {
background-image: linear-gradient(-80deg, rgba(189, 21, 11, 0.1), transparent 50%);
}

.red:nth-child(2n)::before {
background-image: linear-gradient(80deg, rgba(189, 21, 11, 0.1), transparent 50%);
}

.yellow::before {
background-image: linear-gradient(-80deg, rgba(189, 187, 73, 0.1), transparent 50%);
}

.yellow:nth-child(2n)::before {
background-image: linear-gradient(80deg, rgba(189, 187, 73, 0.1), transparent 50%);
}
}
.modal-title
{
    color: #000;
}
.modal-body
{
    color: #000;
    text-align: right;
}
/*profile imae */
.profile-img{
    width: 50px;
    height: 50px;
    border: 2px solid #00838f;
    border-radius: 30px;
}
/*Product*/
.card-icon-pro{
    display: block;
}
.view-all-pro
{
    display: block;
}
.card-button-pro
{
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.pro-offer{
    margin: .5rem;
    border: 1px solid #333;
    border-radius: 5px;
}
